.App {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),
   rgb(255, 161, 89));
  text-align :center;
  min-height: 100vh;
}

.swiper {
  width: 100%;
}

h1 {
  font-size: clamp(1.4rem, 3vw, 2.2rem);
}

.swiper-slide {
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: fill;
}

.hero {
  margin-top: 21px;
  width: 100%;
  height: 42vmin;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* ตัดขอบ ไม่ยืด */
}

.Block-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NovelTitle {
  text-align: left;
  font-size: clamp(0.7rem, 1.1vw, 2.2rem);
}
 
.InfoText{
  font-size: clamp(0.5rem, 0.8vw, 2rem);;
  padding-right: 5px;
}

.ReadingTitle{
  text-align: left;
  font-size: clamp(0.7rem, 1.1vw, 2.2rem);
}

.ReadingSubTitle{
  text-align: left;
  font-size: clamp(0.5rem, 0.8vw, 2rem);
}

.Text {
  font-size: clamp(0.7rem, 1.3vw, 2rem);;
}

.Read-list {
  width: 43vmin;
  height: 23vmin;
  object-fit: contain;
}

.BlockFrame {
  margin-left: auto;
  margin-right: auto;
  height: 42vmin;
}

.BottomArea {
  box-sizing: border-box;

  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;

  padding-bottom: 3vmin;
  height: 45.5vh;
  width: 98%;
  align-items: left;
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.ReadBox {
  margin-left: 1.5vmin;
  margin-right: 1.5vmin;
  height: 43vh;
  width: 26%;
  align-items: left;
  background-image: linear-gradient(to top, rgba(4, 0, 0, 0.208),
   rgba(153, 153, 153, 0.274));
  outline : auto;
}

.BookMark {
  outline: auto;
  height: 43vh;
  width: 80%;
  align-items: left;
  background-color: #0000002a;
}

.Read {
  background-color: white;
  margin: auto;
  height:  100%;
  width: 88%;
  align-items: center;
  object-fit: contain;
  outline: auto;
}

.InventoryFrame {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  padding: 1.3vmin;
}

.InventoryFrame::-webkit-scrollbar{
  display: none;
}

.ReadingFrame {
  box-sizing: border-box;
  display :grid;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 10px;
  gap: 10px;
  grid-auto-rows: 15vmin;
  padding: 1.3vmin;
  -webkit-overflow-scrolling: touch;
}

.ReadingList{
  display: flex;
  height:15vmin;
  flex-direction: row;
  background-color: #ffffff;
  outline: auto;
}

.BlockElement {
  display: flex;
  flex-direction: row;
  height: 15vmin;
  background: #ffffff;
  color: rgb(0, 0, 0);
  outline: auto;
}

.ReadingFrame::-webkit-scrollbar{
  display: none;
}

.Poster {
  height: 15vmin;
  width: 12vmin;
  margin-right: 20px;
}

.ProfilePicture {
  height: 5vmin;
  width: 5vmin;
  padding: 20px;
}

.VWbutton{
  margin-left: auto;
  background: #00000000;
}

.NovelInfo{
  display: flex;
  flex-direction: column;
}

.NovelInfo h3 {
  margin-bottom: 0;
}
.NovelInfo h5 {
  margin: 0;
  color: #cc7400;
}

.NovelsubTitle {
  display: flex;
}

.VWicon{
  height: 2vmin;
  width: 2vmin;
  object-fit :fill;
}

.Block-Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.App-header {
  background-image: linear-gradient(to left, rgb(255, 196, 114),
   rgb(255, 161, 89));
  height: 7vmin;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 10px;
}

.App-link {
  font-size: clamp(0.7rem, 1.3vw, 2rem);;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .Block-Img{
    object-fit: fill;
  }

  .navbar {
    flex-direction: column;
  }
  .BottomArea{
    margin-right: 10px;
    
    height: 65vh;
    flex-direction: column;
  }
  .BookMark {
    height: 35vh;
    width: 94vmin;
    }
  .InventoryFrame {
    height: 32vh;
    width: 94vmin;
    gap: 5px;
  }
  .ReadingFrame{
    height: 30vh;
    width: 94vmin;
    gap: 5px;
  }
  .ReadBox{
    height: 40vh;
    margin-top: 2vh;
    margin-left: 0px;
    width: 94vmin;
  }

  .App-header{
    gap: 3px;
  }
  .ProfilePicture {
    padding : 1vmin;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}