.App {
  position: relative;
  text-align :center;
  min-height: 100vh;
  font-family: "Mali", cursive;
}

.NavigatorBar{
  display: flex;
  margin-left: 25%;
  gap: 1rem;
  text-align: center;
  top: 0.2rem;
  object-fit: contain;
  position: fixed;
  z-index: 9;
}

.NavigatorBar h1 {
  height: 5vmin;
  color: #ffffff;
  text-decoration: underline;
  font-size: clamp(0.4rem, 1.2rem, 2rem);
  text-shadow: 0 0 6px rgba(60, 60, 60, 0.8);;
}

.dekDLogo{
  display: flex;
  right: 0;
  top: 1vmin;
  width: 10%;
  object-fit: contain;
  height: 5vmin;
  position: fixed;
  z-index: 8;
}

.decorateobj {
  display: flex;
  right: 0;
  top: 0;
  width: 50%;
  object-fit: cover;
  height: 7vmin;
  position: fixed;
  z-index: 6;
}

.hiddeBook{
  display: flex;
  right: 0;
  top: 0;
  width: 50%;
  object-fit: cover;
  height: 7vmin;
  position: fixed;
  z-index: 7 ;
  background-image: linear-gradient(to left, #ffa94600,#ff9c55);
}

.swiper {
  margin-top: 7vmin;
  width: 100%;
}

h1 {
  font-size: clamp(1.4rem, 3vw, 2.2rem);
}

.swiper-slide {
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: fill;
}

.hero {
  margin-top: 21px;
  margin-bottom: 21px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.SlideShowContainier{
  position: relative;
  display: flex;
  
}



.hero img {
  width: 100%;
  height: 100%;
  object-fit:contain;  /* ตัดขอบ ไม่ยืด */
  outline: auto;
}

.NovelTitle {
  text-align: left;
  font-size: clamp(0.7rem, 1.1vw, 2.2rem);
}
 
.InfoText{
  font-size: clamp(0.5rem, 0.8vw, 2rem);;
  padding-right: 5px;
}

.TextBox {
  font-family: "Mali", cursive;
  margin-left: 3vmin;
  text-align :left;
}

.TextBox h3 {
  font-family: "Mali", cursive;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 0 7px rgb(255, 147, 65);
}
.TextBox h5 {
  font-family: "Mali", cursive;
  color: #727272;
  margin-top: 0;
  text-shadow: 0 0 7px rgb(255, 147, 65);
}

.ReadingTitle{
  text-align: left;
  font-size: clamp(0.7rem, 1.1vw, 2.2rem);
}

.ReadingSubTitle{
  text-align: left;
  font-size: clamp(0.5rem, 0.8vw, 2rem);
}

.Text {
  font-size: clamp(0.7rem, 1.3vw, 2rem);
  color: white;
}

.Read-list {
  width: 43vmin;
  height: 23vmin;
  object-fit: contain;
}

.BlockFrame {
  margin-left: auto;
  margin-right: auto;
  height: 42vmin;
}

.BottomArea {
  box-sizing: border-box;

  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;

  padding-bottom: 3vmin;
  height: 45.5vh;
  width: 98%;
  align-items: left;
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.ReadBox-outter {
  margin-left: 1.5vmin;
  margin-right: 1.5vmin;
  height: 43vh;
  width: 26%;
  align-items: left;
}

.ReadBox-inner {
  height: 34vh;
  width: 100%;
  align-items: left;
  background-color: #00000000;
}

.BookMark-outter {
  height: 43vh;
  width: 80%;
}

.BookMark-inner {
  height: 34vh;
  width: 100%;
  align-items: left;
  background-color: #ff000008;
}

.Read {
  background-color: rgb(40, 40, 40);
  margin: auto;
  height:  100%;
  width: 88%;
  align-items: center;
  object-fit: contain;
  outline: auto;
}

.InventoryFrame {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  padding: 1.3vmin;
}

.InventoryFrame::-webkit-scrollbar{
  display: none;
}

.ReadingFrame {
  box-sizing: border-box;
  display :grid;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 10px;
  gap: 10px;
  grid-auto-rows: 15vmin;
  padding: 1.3vmin;
  -webkit-overflow-scrolling: touch;
}

.ReadingList{
  display: flex;
  height:15vmin;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.467);
}

.BlockElement {
  display: flex;
  flex-direction: row;
  height: 15vmin;
  background: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.467);
}

.ReadingFrame::-webkit-scrollbar{
  display: none;
}

.Poster {
  margin-right: 10px;
  height: 15vmin;
  width: 12vmin;
  object-fit: cover;
}

.ProfilePicture {
  margin-left: 1vmin;
  height: 5vmin;
  width: 5vmin;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.467);
}

.VWbutton{
  margin-left: auto;
  background: #4a383800;
}

.NovelInfo{
  display: flex;
  font-family: "Mali", cursive;
  flex-direction: column;
}

.NovelInfo h3 {
  margin-bottom: 0;
}
.NovelInfo h5 {
  margin: 0;
  color: #cc7400;
}

.NovelsubTitle {
  display: flex;
}

.VWicon{
  height: 2vmin;
  width: 2vmin;
  object-fit :fill;
}

.App-header {
  background-color: #ff9c55;
  height: 7vmin;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 10px;
  z-index: 5;
  position: fixed;
}

.App-link {
  font-size: clamp(0.7rem, 1.3vw, 2rem);;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {

  .navbar {
    flex-direction: column;
  }
  .BottomArea{
    height: 82vh;
    flex-direction: column;
  }
  .BookMark-outter {
    height: 40vh;
    width: 94vmin;
    }
    .BookMark-inner {
    height: 29.5vh;
    width: 94vmin;
    }
  .InventoryFrame {
    height: 30vh;
    width: 94vmin;
    gap: 5px;
  }
  .NavigatorBar{
    margin-left: 40%;
  }
  .NavigatorBar h1{
    font-size: clamp(0.3rem, 0.5rem, 2rem);
  }
  .ReadingFrame{
    height: 30vh;
    width: 94vmin;
    gap: 5px;
  }
  .ReadBox-inner{
    height: 22.5vh;
    margin-top: 2vh;
    margin-left: 0px;
    width: 94vmin;
  }
  .ReadingFrame{
    height: 100%
  }
  .ReadBox-outter{
    height: 45vh;
    margin-top: 2vh;
    margin-left: 0px;
    width: 94vmin;
  }
  .App-header{
    gap: 3px;
  }
  .ProfilePicture {
    padding : 1vmin;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}